* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: rgb(255, 248, 237);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  background-image: linear-gradient(
    100deg,
    rgb(224, 112, 130),
    rgb(132, 132, 211)
  );
  box-shadow: rgba(66, 66, 66, 0.25) 0.1rem 0.1rem 0.6rem;
}

.nav__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.nav__nav-list-item {
  list-style: none;
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: rgb(255, 240, 240);
}

.nav__nav-list-link {
  cursor: pointer;
}

.nav__nav-list-link i {
  /* display: inline; */
  margin-right: 0.2rem;
  opacity: 0;
  transition: -webkit-transform 200ms, opacity 200ms;
  transform: translateZ(0) translateY(-3rem);
  -webkit-transform: translateZ(0) translateY(-3rem);
}

.nav__nav-list-link:hover {
  color: rgb(255, 255, 255);
}

.nav__nav-list-link:hover i {
  opacity: 1;
  transition: -webkit-transform 200ms, opacity 400ms;
  transform: translateZ(0) translateY(0); /* added this cause there was a warning */
  -webkit-transform: translateZ(0) translateY(0);
}

.nav__logo {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgb(248, 248, 248);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 8rem;
}

.article__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

.article__section:not(.top) {
  width: 80%;
}

.article__section:nth-child(2n):hover {
  /* background-color: rgb(224, 112, 130); */
  outline: 4px solid rgb(224, 112, 130);
  outline-style: dotted;
  border-radius: 2rem;
}

.article__section:nth-child(2n) a {
  color: rgb(168, 80, 95);
}

.article__section:nth-child(2n) a:hover {
  color: rgb(134, 64, 76);
}

/* so the top section doesn't have the border */
.article__section:nth-child(2n-1):not(.top):hover {
  /* background-color: rgb(132, 132, 211); */
  outline: 4px solid rgb(132, 132, 211);
  outline-style: dotted;
  border-radius: 2rem;
}

.article__section:nth-child(2n-1) a {
  color: rgb(132, 132, 211);
}

.article__section:nth-child(2n-1) a:hover {
  color: rgb(101, 101, 160);
}

.article__date {
  color: rgb(168, 80, 95);
  font-style: italic;
  align-self: flex-start;
}

.article__title {
  font-size: 3.8rem;
  line-height: 3.4rem;
  margin-bottom: 1rem;
  color: rgb(24, 24, 24);
}

/* .article__subtitle {
  font-size: 2rem;
  margin-top: 1rem;
  color: rgb(24, 24, 24);
} */

.article__subsection-heading {
  font-size: 1.5rem;
  color: rgb(24, 24, 24);
}

.article__p {
  width: 75%;
  color: rgb(24, 24, 24);
  font-size: 1.1rem;
}

.article__img {
  width: 100%;
}

.article__img:not(.main-img) {
  width: 65%;
  border-radius: 2rem;
  margin-top: 2rem;
}

.article__list {
  background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg);
  background-color: rgb(238, 198, 146); /* fallback bg color */
  box-shadow: rgba(66, 66, 66, 0.5) 0.2rem 0.2rem 0.4rem;
  padding: 1.5rem 3rem 2rem 3rem;
  text-align: left;
  list-style: none;
  font-weight: 200;
  margin-top: 2rem;
}

.article__list li:nth-child(1) {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  accent-color: rgb(168, 80, 95);
}

.table {
  margin-top: 2rem;
  border-collapse: collapse;
}

.table__tr {
  border: 2px solid rgb(132, 132, 211);
}

.table__td {
  border: 2px solid rgb(132, 132, 211);
  padding: 0.5rem;
}

.table-top {
  background-color: rgb(193, 193, 240);
}

.strikethrough {
  text-decoration: line-through;
}

.check {
  margin-right: 0.25rem;
}

.boop {
  display: flex;
  flex-direction: column;
  margin: 1rem 8rem;
}

.boop__btn {
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  height: 3rem;
  width: 5rem;
  margin-top: 0.5rem;
  border: 0;
  border-radius: 1rem;
  background-color: rgb(199, 199, 230);
}

.boop__btn:hover {
  background-color: rgb(218, 138, 151);
}

.boop__btn:active {
  background-color: rgb(189, 87, 104);
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer a {
  color: rgb(132, 132, 211);
}

.footer a:hover {
  color: rgb(100, 100, 160);
}

@media screen and (max-width: 800px) {
  .article {
    padding: 2rem 4rem;
  }

  .article__p {
    width: 100%;
  }

  .article__section:not(.top) {
    width: 100%;
  }
}

/* element */
/* body {
  color: grey;
} */

/* class */
/* .purple {
  color: purple;
} */

/* id */
/* #brown {
  color: brown;
} */

/* 
specifying
div .container {
  text-align: left;
}

happening to all of them
h1, h2, p{
} */
